body{
    background-color: #144659;
    flex-direction:column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: 0.5s flex-end;
    background-color: #144659;
    transition: 1s ease;
    box-shadow:0px 1px 15px -1px #000000;
}

.nav--hidden{
    transform: translateY(-120px);
    
}

img.logo {
    margin-left: 20px;
    height: 70px;
    width: 70px;
    display: flex;
    float: left;
}

.logo:hover{
    position: relative;
    box-shadow: 0px 5px 5px black;
    border-radius: 50px;
    height: 73px;
    width: 73px;

}

.navbar .navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
    display: flex;  
}


.navigation li {
    margin: 0 50px;
    list-style: none;
    height: 3px;
    transition: 0.3s ease;
}

.navigation li a {
    position: relative;
    text-decoration: none;
    color: #05080D;
    font-size: 24px;
    font-weight: 1em;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
}

.navigation li a:before {
    
    content: '';
    position: absolute;
    background:#000;
    width: 0;
    height:3px;
    bottom:0;
    left: 0;
    transition: 0.3s ease;
}

.navigation li a:hover:before{
    width:100%;
}


.button{
    margin-right: 10px;
    border-radius: 5px;
    border-color: black;
    background-color: #E88E2A;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 140px;
    height: 50px;
}

.button:hover{
    background-color:#32C8D9;
}

.button a{
    text-decoration: none;
    color :#05080D;
}

.Presentation {
    height:450px;
    justify-content: center;
    margin: 250px;
    padding-left: 10px;
    border-left:1px #C4EAF2 solid; 
}

h1{
    color: #E88E2A;
    font-size: 64px;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

.Dev{
    margin-top: 0;
    font-size: 36px;
}

p{
    color: #C4EAF2;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

article.About { 
    margin: 100px;
}

.ABOUT{
    margin: 100px;
    display: flex; 
}
    
.About h2{
    margin-left: 250px;
    font-family: 'Montserrat', sans-serif;
}

.textcentre{
    width: 50%;
    font-size: 24px;    
}

img.Moi{ 
    margin: 50px;
    width: 35%;
    height: 40%;
    filter: grayscale(80%);
    border: 1px solid #E88E2A;
}

img.Moi:hover{
    filter:none;
}

span{
    color: #32C8D9;
}


article.Work{   
    width: 100%;
    height:700px;
}

.Work h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.slidershow{
    width: 60%;
    height: 60%;
    overflow: hidden;
    border: #E88E2A solid 5px;
    border-radius: 80px;
}
.middle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    background-color:#FFFFFF; ;
    width: 60px;
    height: 20px;
    border: 3px solid #E88E2A;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #32C8D9;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 88%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}

.Contact{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 100px;
    width: 100%;
    height: 300px;
}

.Contact h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titre {
    margin: 50px;
    text-align: center;
}

.Contact p{
    text-align: center;
}

.reseaux{
    display: flex;
}

.reseaux img {
    padding: 60px;
    margin: 15px;
    width: 50px;
    height: 50px;
}

.reseaux img:hover {
    box-shadow: 0px 5px 5px black;
    background-color:#32C8D9;
}

footer .footer{
    width: 100%;
    text-align: center;
    margin-top: 300px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*projets Stack*/

.article-stack, .article-donut, .article-php{
    margin: 100px;
}

.article-stack img, .article-donut img, .article-php img  {
    margin: 20px;
    width: 600px;
    height: 400px;
}

.article-stack p, .article-donut p, .article-php p{
    margin: 20px;
}

article .exemple-stack{
    margin: 20px;
    width: 90%;
    height: 100px;
}

@media (max-width:900px){
    .navbar {
        padding: 12px 20px;
    }

    p {
        font-size: 18px;
    }
    .navbar .navigation{
        display: none;
    }

    .navbar .navigation.active{ 
        position:fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba (1, 1, 1, 0.5);
    }

    .navbar .navigation ul li {
        color: #05080D;
        font-size:1.2em;
        margin: 40px;
        margin-left: 20px;
    }

    .navbar .navigation ul li a:before{
        background: #222;
        height: 2px;
    }

    .navbar .navigation.active ul{
        background: #C4EAF2;
        width: 200px;
        max-width: 200px;
        margin: 20px;
        padding:40px;
        display: flex;
        flex-direction: column;
        align-items:center;
        border-radius: 5px;
        box-shadow: 0 5px 25px black;
    }
    
    .menu-btn{
        background: url('Images/bars-solid.svg') no-repeat;
        margin-right: 50px;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
            z-index: 999;
            background: url('Images/times-solid.svg') no-repeat;   
            background-size: 25px;
            background-position: center;
            transition: 0.3s ease;
    }

    .Presentation{
        width: 60%;
        height: 50%;
        margin: 100px;
        
    }

    .Dev{
        font-size:24px;
    }

    h1{
        font-size:35px;
    }

    .nav{
        bottom:0;
    }

    .bar{
        height: 12px; 
        width: 30px ;
    }

    .ABOUT{
        margin: 0;
        flex-direction: column;
    }

    .About h2{
        margin: 0;
    }

    .textcentre{
        font-size:18px;
        margin-top: 50px;
        width:100%;
    }

    .ABOUT .Moi{
        height: 60%;
        width: 60%;
        filter: none;
    }

    .Work .slidershow{
        height: 250px;
        width: 350px;
    }

    .Contact .reseaux img{
       padding:70px 20px;
    }

    footer .footer{
        font-size:12px;
    }

    .article-stack, .article-donut, .article-php{
        padding-top: 100px;
        margin: 100px;
    }

    .article-stack img, .article-donut img, .article-php img {
    margin: 10px;
    width: 250px;
    height: 150px;
    }

    .article-stack p, .article-donut p, .article-php p{
    margin: 10px;
    font-size: 14px;
    }

    article .exemple-stack{
        margin: 10px;
        width: 100%;
        height: 100%;
    }
}